body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: inter, sans-serif;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    gap: 28px;
}


.header_links {
    display: flex;
    font-size: 18px;
    gap: 18px;
}

.top {
    background-color: #1f2937;
    padding: 16px;
    padding-right: 256px;
    padding-left: 256px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.header_logo {
    color: #f9faf8;
    font-size: 24px;
}

.header_bottom {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    padding-bottom: 64px;
    padding-top: 12px;
}

#main_hero_text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

#hero_subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.sign_up_button {
    background-color: #3882f6;  
    color: #f9faf8;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 0px;
    margin-top: 12px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
}

#information_header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 20px;
    padding: 32px;
}

.card {
    border: 3px solid #3882f6;
    height: 128px;
    width: 128px;
    border-radius: 16px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: oblique;
    align-items: end;
    padding: 32px;
    padding-left: 256px;
    padding-right: 256px;
}

.signed {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    align-items: end;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 128px;
    align-items: center;
    text-align: center;
}

.alert {
    background-color: #3882f6;
    margin: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    border-radius: 8px;
    margin: 128px;
    margin-left: 164px;
    margin-right: 164px;
}

.alert_text {
    color: #f9faf8;
}

.sign_up_button_2 {
    background-color: #3882f6;  
    color: #f9faf8;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border-color: #f9faf8;
    border-style: solid;
    padding-left: 32px;
    padding-right: 32px;
}

#alert_name {
    font-weight: bold;
    font-size: 16px;
}

.footer {
    background-color: #1F2937;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#e5e7eb;
}